<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
  Base ERP document chrome lives in documents/fragments.html (header / footer / CSS 2.1 styles).
  Concrete docs (invoice_template, packing_slip_template) compose those fragments.
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Document layout</title>
</head>
<body>
<p>Use documents/fragments.html with invoice_template.html or packing_slip_template.html.</p>
</body>
</html>
