<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty name="APP_NAME" source="spring.application.name" defaultValue="invsys-api"/>
    <springProperty name="LOKI_URL" source="invsys.observability.loki-url" defaultValue="http://loki:3100/loki/api/v1/push"/>

    <!-- Defined only outside docker so Logback does not warn about an unused CONSOLE appender. -->
    <springProfile name="!(docker | prod)">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{ISO8601} [%thread] %-5level %logger{36} tenant=%X{tenant_id} req=%X{request_id} user=%X{user_id} trace=%X{traceId} - %msg%n</pattern>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="docker | prod">
        <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"app":"${APP_NAME}"}</customFields>
                <includeMdcKeyName>request_id</includeMdcKeyName>
                <includeMdcKeyName>tenant_id</includeMdcKeyName>
                <includeMdcKeyName>user_id</includeMdcKeyName>
                <includeMdcKeyName>traceId</includeMdcKeyName>
                <includeMdcKeyName>spanId</includeMdcKeyName>
                <includeMdcKeyName>requestId</includeMdcKeyName>
                <includeMdcKeyName>tenantId</includeMdcKeyName>
                <includeMdcKeyName>userId</includeMdcKeyName>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="docker">
        <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
            <http>
                <url>${LOKI_URL}</url>
            </http>
            <format>
                <label>
                    <pattern>app=${APP_NAME},level=%level</pattern>
                </label>
                <message>
                    <pattern>{"message":"%msg","logger":"%logger{36}","level":"%level","traceId":"%X{traceId}","spanId":"%X{spanId}","tenant_id":"%X{tenant_id}","request_id":"%X{request_id}","thread":"%thread","exception":"%ex{full}"}%n</pattern>
                </message>
            </format>
        </appender>
    </springProfile>

    <springProfile name="docker">
        <logger name="io.micrometer.core.instrument.binder.jvm.ExecutorServiceMetrics" level="ERROR"/>
        <root level="INFO">
            <appender-ref ref="JSON"/>
            <appender-ref ref="LOKI"/>
        </root>
    </springProfile>

    <springProfile name="prod &amp; !docker">
        <root level="INFO">
            <appender-ref ref="JSON"/>
        </root>
    </springProfile>

    <springProfile name="!(docker | prod)">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
